html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #190631;
  /* margin-top: 80px; */
}

.topPage {
  top: 0;
  position: relative;
  height: 85vh;
  width: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url("../public/sunset.jpg");
  background-size: cover;
  background-position: center top;
  justify-content: center;
}

.topPage h1 {
  font-family: Arial;
  position: absolute;
  color: white;
  align-self: center;
  font-size: 8vh;
  text-shadow: 1px 1px 7px rgb(60, 60, 60);
  transform: translateY(-2vh);
  text-align: center;
}

.topPage h2 {
  font-family: Arial;
  color: white;
  align-self: center;
  font-size: 3vh;
  text-shadow: 1px 1px 7px rgb(60, 60, 60);
  transform: translateY(8vh);
  text-align: center;
}

.topPage h3 {
  font-family: Arial;
  color: white;
  align-self: center;
  font-size: 3vh;
  text-shadow: 1px 1px 7px rgb(60, 60, 60);
  transform: translateY(7vh);
  text-align: center;
}


.topPage::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #190631, transparent);
  z-index: 1000;
}

.mainContent {
  padding: 9vh 10vw 0 10vw;
  justify-content: center;
  text-align: justify;
  color: white;
  background-color: #190631;
  font-size: larger;
}

.mainContent h1 {
  text-align: center;
  padding-bottom: 5vh;
}

.mainParagraph {
  padding-bottom: 50px;
}

.mainParagraph img {
  top: 30%;
  max-height: 40vh;
  max-width: 40vh;
  border-radius: 50px;
  position: relative;
  justify-content: right;
}

.center {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.aboutMeText{
  color: aqua;
}

.contactInfo {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: white;
  background-color: #190631;
}

.contactInfo p {
  transform: translateY(-4vh);
}

.resumeBody {
  padding-top: 3vh;
  padding-bottom: 3vh;
  background: linear-gradient(to bottom, #190631, rgb(197, 75, 4), #190631);
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pages {
  padding-top: 20px;
}

